/Users/saipathivada/PycharmProjects/machinelearningbook/card_dataset
/Users/saipathivada/PycharmProjects/machinelearningbook/.terraform
/Users/saipathivada/PycharmProjects/machinelearningbook/main.tf
